* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

.bars-container {
    width: 1200px;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.bars {
    background-color: darkred;
    width: 7px;
    /* margin: 0 auto; */
    border-radius: 2px;
}